<h1>Pages#test</h1>
<div class="col-12">
<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
<header>
  <h3><a href="#">Gravida aliquam penatibus</a></h3>
</header>
<p>
  Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
  porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
</p>
</div>
